html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-size: 100%;
     vertical-align: baseline;
     background: transparent;
}

html, body {
     width: 100%;
     height: 100%;
}

body {
     line-height: 1;
     background: #fff;
     box-sizing: border-box;
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     -webkit-font-smoothing: inherit;
}

:focus {
     outline: 1;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
     display: block;
}

ul {
     list-style: none;
}

blockquote, q {
     quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
     content: none;
}

a {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     vertical-align: baseline;
     background: transparent;
     text-decoration: none;
     color: #2c9ab7;
}

a:hover {
     text-decoration: underline;
}

ins {
     background-color: #fff4d5;
     color: #aa8d3b;
     text-decoration: none;
}

mark {
     background-color: #fff4d5;
     color: #aa8d3b;
     font-style: italic;
     font-weight: 700;
}

del {
     text-decoration: line-through;
}

abbr[title], dfn[title] {
     border-bottom: 1px dotted#3a3a3a;
     cursor: help;
}

table {
     border-collapse: collapse;
     border-spacing: 0;
     width: 100%;
}

table td, table th {
     text-align: left;
}

hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid#dcdcdc;
     margin: 1em 0;
     padding: 0;
}

input, select {
     margin: 0;
     vertical-align: middle;
}

pre {
     white-space: pre;
     white-space: pre-wrap;
}

img {
     max-width: 100%;
}

.span1of1 {
     width: 100%;
}

.span1of2 {
     width: 50%;
}

.span2of3 {
     width: 66.66667%;
}

.span1of3 {
     width: 33.33333%;
}

.span3of4 {
     width: 75%;
}

.span2of4 {
     width: 50%;
}

.span1of4 {
     width: 25%;
}

.span7of8 {
     width: 87.5%;
}

.span6of8 {
     width: 75%;
}

.span5of8 {
     width: 62.5%;
}

.span4of8 {
     width: 50%;
}

.span3of8 {
     width: 37.5%;
}

.span2of8 {
     width: 25%;
}

.span1of8 {
     width: 12.5%;
}

@media screen and (max-width: 840px) {
     .span1of8 {
         width: 25%;
    }

    .span1of4, .span2of8, .span3of8, .span2of4, .span5of8, .span4of8 {
         width: 50%;
    }

    .span3of4, .span6of8, .span7of8, .span1of2>.span1of2 {
         width: 100%;
    }
}

@media screen and (max-width: 615px) {
     .span1of3, .span2of3 {
         width: 50%;
    }
}

@media screen and (max-width: 520px) {
     .span1of2, .span1of3, .span2of3, .span1of4, .span2of4, .span3of4, .span2of8, .span3of8, .span4of8, .span5of8, .span6of8, .span7of8 {
         width: 100%;
    }

    .span1of8 {
         width: 50%;
    }

    .col {
         width: 100%;
    }
}

.content {
     width: 90%;
     max-width: 1008px;
     margin-left: auto;
     margin-right: auto;
}

@media screen and (max-width: 1120px) {
     .content {
         width: 100%;
    }
}

.section, .row, .form-group {
     display: block;
     clear: both;
     vertical-align: top;
}

.swap.section, .swap.row, .swap.form-group {
     direction: rtl;
}

.swap.section>*, .swap.row>*, .swap.form-group>* {
     direction: ltr;
}

.swap.section>.swap, .swap.row>.swap, .swap.form-group>.swap {
     direction: inherit;
}

.clip.section, .clip.row, .clip.form-group {
     overflow: hidden;
}

.block, .group, .col {
     box-sizing: border-box;
     display: inline-block;
     vertical-align: top;
     float: none;
}

.swap.block, .swap.group, .swap.col {
     direction: rtl;
}

.swap.block>*, .swap.group>*, .swap.col>* {
     direction: ltr;
}

.swap.block>.swap, .swap.group>.swap, .swap.col>.swap {
     direction: inherit;
}

.top.block, .top.group, .top.col {
     vertical-align: top;
}

.middle.block, .middle.group, .middle.col {
     vertical-align: middle;
}

.bottom.block, .bottom.group, .bottom.col {
     vertical-align: bottom;
}

.baseline.block, .baseline.group, .baseline.col {
     vertical-align: baseline;
}

.np-l.block, .np-l.group, .np-l.col {
     padding-left: 0;
}

.np-r.block, .np-r.group, .np-r.col {
     padding-right: 0;
}

@media screen and (max-width: 520px) {
     .block, .group, .col {
         width: 100%;
    }

    .np-l.block, .np-l.group, .np-l.col {
         padding-right: 0 
    }

    .np-r.block, .np-r.group, .np-r.col {
         padding-left: 0 
    }
}

.col {
     vertical-align: inherit;
     padding-left: 18px;
     padding-right: 18px;
     max-width: 100%;
}

.seam, .hr {
     clear: both;
     display: block;
     height: 0;
     border-bottom: 1px solid#dcdcdc;
}

@media screen and (max-width: 840px) {
     .large-span1of1 {
         width:100% !important 
    }

    .large-span1of2 {
         width: 50% !important 
    }

    .large-span1of3 {
         width: 33.33333% !important 
    }

    .large-span2of3 {
         width: 66.66667% !important 
    }

    .large-span1of4 {
         width: 25% !important 
    }

    .large-span3of4 {
         width: 75% !important 
    }

    .large-span1of8 {
         width: 12.5% !important 
    }

    .large-span3of8 {
         width: 37.5% !important 
    }

    .large-span5of8 {
         width: 62.5% !important 
    }

    .large-span7of8 {
         width: 87.5% !important 
    }
}

@media screen and (max-width: 615px) {
     .mid-span1of1 {
         width:100% !important 
    }

    .mid-span1of2 {
         width: 50% !important 
    }

    .mid-span1of3 {
         width: 33.33333% !important 
    }

    .mid-span2of3 {
         width: 66.66667% !important 
    }

    .mid-span1of4 {
         width: 25% !important 
    }

    .mid-span3of4 {
         width: 75% !important 
    }

    .mid-span1of8 {
         width: 12.5% !important 
    }

    .mid-span3of8 {
         width: 37.5% !important 
    }

    .mid-span5of8 {
         width: 62.5% !important 
    }

    .mid-span7of8 {
         width: 87.5% !important 
    }
}

@media screen and (max-width: 520px) {
     .small-span1of1 {
         width:100% !important 
    }

    .small-span1of2 {
         width: 50% !important 
    }

    .small-span1of3 {
         width: 33.33333% !important 
    }

    .small-span2of3 {
         width: 66.66667% !important 
    }

    .small-span1of4 {
         width: 25% !important 
    }

    .small-span3of4 {
         width: 75% !important 
    }

    .small-span1of8 {
         width: 12.5% !important 
    }

    .small-span3of8 {
         width: 37.5% !important 
    }

    .small-span5of8 {
         width: 62.5% !important 
    }

    .small-span7of8 {
         width: 87.5% !important 
    }
}

.center {
     text-align: center;
}

.align-left {
     text-align: left;
}

.align-right {
     text-align: right;
}

.hide_overflow-x {
     overflow-x: hidden !important;
}

.mt16 {
     margin-top: 96px !important;
}

.mb16 {
     margin-bottom: 96px !important;
}

.mtb16 {
     margin-top: 96px;
     margin-bottom: 96px !important;
}

.mt15 {
     margin-top: 90px !important;
}

.mb15 {
     margin-bottom: 90px !important;
}

.mtb15 {
     margin-top: 90px;
     margin-bottom: 90px !important;
}

.mt14 {
     margin-top: 84px !important;
}

.mb14 {
     margin-bottom: 84px !important;
}

.mtb14 {
     margin-top: 84px;
     margin-bottom: 84px !important;
}

.mt13 {
     margin-top: 78px !important;
}

.mb13 {
     margin-bottom: 78px !important;
}

.mtb13 {
     margin-top: 78px;
     margin-bottom: 78px !important;
}

.mt12 {
     margin-top: 72px !important;
}

.mb12 {
     margin-bottom: 72px !important;
}

.mtb12 {
     margin-top: 72px;
     margin-bottom: 72px !important;
}

.mt11 {
     margin-top: 66px !important;
}

.mb11 {
     margin-bottom: 66px !important;
}

.mtb11 {
     margin-top: 66px;
     margin-bottom: 66px !important;
}

.mt10 {
     margin-top: 60px !important;
}

.mb10 {
     margin-bottom: 60px !important;
}

.mtb10 {
     margin-top: 60px;
     margin-bottom: 60px !important;
}

.mt9 {
     margin-top: 54px !important;
}

.mb9 {
     margin-bottom: 54px !important;
}

.mtb9 {
     margin-top: 54px;
     margin-bottom: 54px !important;
}

.mt8 {
     margin-top: 48px !important;
}

.mb8 {
     margin-bottom: 48px !important;
}

.mtb8 {
     margin-top: 48px;
     margin-bottom: 48px !important;
}

.mt7 {
     margin-top: 42px !important;
}

.mb7 {
     margin-bottom: 42px !important;
}

.mtb7 {
     margin-top: 42px;
     margin-bottom: 42px !important;
}

.mt6 {
     margin-top: 36px !important;
}

.mb6 {
     margin-bottom: 36px !important;
}

.mtb6 {
     margin-top: 36px;
     margin-bottom: 36px !important;
}

.mt5 {
     margin-top: 30px !important;
}

.mb5 {
     margin-bottom: 30px !important;
}

.mtb5 {
     margin-top: 30px;
     margin-bottom: 30px !important;
}

.mt4 {
     margin-top: 24px !important;
}

.mb4 {
     margin-bottom: 24px !important;
}

.mtb4 {
     margin-top: 24px;
     margin-bottom: 24px !important;
}

.mt3 {
     margin-top: 18px !important;
}

.mb3 {
     margin-bottom: 18px !important;
}

.mtb3 {
     margin-top: 18px;
     margin-bottom: 18px !important;
}

.mt2 {
     margin-top: 12px !important;
}

.mb2 {
     margin-bottom: 12px !important;
}

.mtb2 {
     margin-top: 12px;
     margin-bottom: 12px !important;
}

.mt1 {
     margin-top: 6px !important;
}

.mb1 {
     margin-bottom: 6px !important;
}

.mtb1 {
     margin-top: 6px;
     margin-bottom: 6px !important;
}

.mt0 {
     margin-top: 0px !important;
}

.mb0 {
     margin-bottom: 0px !important;
}

.mtb0 {
     margin-top: 0px;
     margin-bottom: 0px !important;
}

.pt16 {
     padding-top: 96px !important;
}

.pb16 {
     padding-bottom: 96px !important;
}

.ptb16 {
     padding-top: 96px !important;
     padding-bottom: 96px !important;
}

.pr16 {
     padding-right: 96px !important;
}

.pl16 {
     padding-left: 96px !important;
}

.prl16 {
     padding-left: 96px !important;
     padding-right: 96px !important;
}

.pa16 {
     padding: 96px !important;
}

.pt15 {
     padding-top: 90px !important;
}

.pb15 {
     padding-bottom: 90px !important;
}

.ptb15 {
     padding-top: 90px !important;
     padding-bottom: 90px !important;
}

.pr15 {
     padding-right: 90px !important;
}

.pl15 {
     padding-left: 90px !important;
}

.prl15 {
     padding-left: 90px !important;
     padding-right: 90px !important;
}

.pa15 {
     padding: 90px !important;
}

.pt14 {
     padding-top: 84px !important;
}

.pb14 {
     padding-bottom: 84px !important;
}

.ptb14 {
     padding-top: 84px !important;
     padding-bottom: 84px !important;
}

.pr14 {
     padding-right: 84px !important;
}

.pl14 {
     padding-left: 84px !important;
}

.prl14 {
     padding-left: 84px !important;
     padding-right: 84px !important;
}

.pa14 {
     padding: 84px !important;
}

.pt13 {
     padding-top: 78px !important;
}

.pb13 {
     padding-bottom: 78px !important;
}

.ptb13 {
     padding-top: 78px !important;
     padding-bottom: 78px !important;
}

.pr13 {
     padding-right: 78px !important;
}

.pl13 {
     padding-left: 78px !important;
}

.prl13 {
     padding-left: 78px !important;
     padding-right: 78px !important;
}

.pa13 {
     padding: 78px !important;
}

.pt12 {
     padding-top: 72px !important;
}

.pb12 {
     padding-bottom: 72px !important;
}

.ptb12 {
     padding-top: 72px !important;
     padding-bottom: 72px !important;
}

.pr12 {
     padding-right: 72px !important;
}

.pl12 {
     padding-left: 72px !important;
}

.prl12 {
     padding-left: 72px !important;
     padding-right: 72px !important;
}

.pa12 {
     padding: 72px !important;
}

.pt11 {
     padding-top: 66px !important;
}

.pb11 {
     padding-bottom: 66px !important;
}

.ptb11 {
     padding-top: 66px !important;
     padding-bottom: 66px !important;
}

.pr11 {
     padding-right: 66px !important;
}

.pl11 {
     padding-left: 66px !important;
}

.prl11 {
     padding-left: 66px !important;
     padding-right: 66px !important;
}

.pa11 {
     padding: 66px !important;
}

.pt10 {
     padding-top: 60px !important;
}

.pb10 {
     padding-bottom: 60px !important;
}

.ptb10 {
     padding-top: 60px !important;
     padding-bottom: 60px !important;
}

.pr10 {
     padding-right: 60px !important;
}

.pl10 {
     padding-left: 60px !important;
}

.prl10 {
     padding-left: 60px !important;
     padding-right: 60px !important;
}

.pa10 {
     padding: 60px !important;
}

.pt9 {
     padding-top: 54px !important;
}

.pb9 {
     padding-bottom: 54px !important;
}

.ptb9 {
     padding-top: 54px !important;
     padding-bottom: 54px !important;
}

.pr9 {
     padding-right: 54px !important;
}

.pl9 {
     padding-left: 54px !important;
}

.prl9 {
     padding-left: 54px !important;
     padding-right: 54px !important;
}

.pa9 {
     padding: 54px !important;
}

.pt8 {
     padding-top: 48px !important;
}

.pb8 {
     padding-bottom: 48px !important;
}

.ptb8 {
     padding-top: 48px !important;
     padding-bottom: 48px !important;
}

.pr8 {
     padding-right: 48px !important;
}

.pl8 {
     padding-left: 48px !important;
}

.prl8 {
     padding-left: 48px !important;
     padding-right: 48px !important;
}

.pa8 {
     padding: 48px !important;
}

.pt7 {
     padding-top: 42px !important;
}

.pb7 {
     padding-bottom: 42px !important;
}

.ptb7 {
     padding-top: 42px !important;
     padding-bottom: 42px !important;
}

.pr7 {
     padding-right: 42px !important;
}

.pl7 {
     padding-left: 42px !important;
}

.prl7 {
     padding-left: 42px !important;
     padding-right: 42px !important;
}

.pa7 {
     padding: 42px !important;
}

.pt6 {
     padding-top: 36px !important;
}

.pb6 {
     padding-bottom: 36px !important;
}

.ptb6 {
     padding-top: 36px !important;
     padding-bottom: 36px !important;
}

.pr6 {
     padding-right: 36px !important;
}

.pl6 {
     padding-left: 36px !important;
}

.prl6 {
     padding-left: 36px !important;
     padding-right: 36px !important;
}

.pa6 {
     padding: 36px !important;
}

.pt5 {
     padding-top: 30px !important;
}

.pb5 {
     padding-bottom: 30px !important;
}

.ptb5 {
     padding-top: 30px !important;
     padding-bottom: 30px !important;
}

.pr5 {
     padding-right: 30px !important;
}

.pl5 {
     padding-left: 30px !important;
}

.prl5 {
     padding-left: 30px !important;
     padding-right: 30px !important;
}

.pa5 {
     padding: 30px !important;
}

.pt4 {
     padding-top: 24px !important;
}

.pb4 {
     padding-bottom: 24px !important;
}

.ptb4 {
     padding-top: 24px !important;
     padding-bottom: 24px !important;
}

.pr4 {
     padding-right: 24px !important;
}

.pl4 {
     padding-left: 24px !important;
}

.prl4 {
     padding-left: 24px !important;
     padding-right: 24px !important;
}

.pa4 {
     padding: 24px !important;
}

.pt3 {
     padding-top: 18px !important;
}

.pb3 {
     padding-bottom: 18px !important;
}

.ptb3 {
     padding-top: 18px !important;
     padding-bottom: 18px !important;
}

.pr3 {
     padding-right: 18px !important;
}

.pl3 {
     padding-left: 18px !important;
}

.prl3 {
     padding-left: 18px !important;
     padding-right: 18px !important;
}

.pa3 {
     padding: 18px !important;
}

.pt2 {
     padding-top: 12px !important;
}

.pb2 {
     padding-bottom: 12px !important;
}

.ptb2 {
     padding-top: 12px !important;
     padding-bottom: 12px !important;
}

.pr2 {
     padding-right: 12px !important;
}

.pl2 {
     padding-left: 12px !important;
}

.prl2 {
     padding-left: 12px !important;
     padding-right: 12px !important;
}

.pa2 {
     padding: 12px !important;
}

.pt1 {
     padding-top: 6px !important;
}

.pb1 {
     padding-bottom: 6px !important;
}

.ptb1 {
     padding-top: 6px !important;
     padding-bottom: 6px !important;
}

.pr1 {
     padding-right: 6px !important;
}

.pl1 {
     padding-left: 6px !important;
}

.prl1 {
     padding-left: 6px !important;
     padding-right: 6px !important;
}

.pa1 {
     padding: 6px !important;
}

.pt0 {
     padding-top: 0px !important;
}

.pb0 {
     padding-bottom: 0px !important;
}

.ptb0 {
     padding-top: 0px !important;
     padding-bottom: 0px !important;
}

.pr0 {
     padding-right: 0px !important;
}

.pl0 {
     padding-left: 0px !important;
}

.prl0 {
     padding-left: 0px !important;
     padding-right: 0px !important;
}

.pa0 {
     padding: 0px !important;
}

.shim-max, .shim-large, .shim-mid, .shim-small, .shim-over-max, .shim-over-large, .shim-over-mid, .shim-over-small {
     display: none;
}

@media screen and (max-width: 990px) {
     .shim-max {
         display:block 
    }

    .hide-max {
         display: none !important 
    }
}

@media screen and (max-width: 840px) {
     .shim-large {
         display:block 
    }

    .hide-large {
         display: none !important 
    }
}

@media screen and (max-width: 615px) {
     .shim-mid {
         display:block 
    }

    .hide-mid {
         display: none !important 
    }
}

@media screen and (max-width: 520px) {
     .shim-small {
         display:block 
    }

    .hide-small {
         display: none !important 
    }
}

@media screen and (min-width: 990px) {
     .shim-over-max {
         display:block 
    }
}

@media screen and (min-width: 840px) {
     .shim-over-large {
         display:block 
    }
}

@media screen and (min-width: 615px) {
     .shim-over-mid {
         display:block 
    }
}

@media screen and (min-width: 520px) {
     .shim-over-small {
         display:block 
    }
}

.super_title {
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     font-size: 60px;
     line-height: 1;
     font-weight: bold;
     letter-spacing: 0;
     -webkit-font-smoothing: inherit;
}

.title, .normalize h1, .normalize .title {
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     font-size: 40px;
     line-height: 1.2;
     font-weight: bold;
     letter-spacing: 0;
     -webkit-font-smoothing: inherit;
}

.heading, .normalize h2, .normalize .heading {
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     font-size: 26px;
     line-height: 1.38462;
     font-weight: bold;
     letter-spacing: 0;
     -webkit-font-smoothing: inherit;
}

.subheading, .normalize h3, .normalize h4, .normalize h5, .normalize h6, .normalize .subheading {
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     font-size: 18px;
     line-height: 1.5;
     font-weight: bold;
     letter-spacing: 0;
     -webkit-font-smoothing: inherit;
}

.body_big, .normalize blockquote, .normalize blockquote p, .normalize .body_big, .normalize .body_big p {
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     font-size: 26px;
     line-height: 1.5;
     font-weight: normal;
     letter-spacing: 0.02em;
     -webkit-font-smoothing: inherit;
}

.body, .normalize p, .normalize .body, .msg p, .msg-success p, .msg-info p, .msg-error p {
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     font-size: 16px;
     line-height: 1.6875;
     font-weight: normal;
     letter-spacing: 0;
     -webkit-font-smoothing: inherit;
}

.small, .normalize small, .normalize .small {
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     font-size: 12px;
     line-height: 1.75;
     font-weight: normal;
     letter-spacing: 0;
     -webkit-font-smoothing: inherit;
}

.list, .list-marked, .normalize ul, .normalize ol {
     list-style: none;
     line-height: 1.6875;
}

.list li, .list-marked li, .normalize ul li, .normalize ol li {
     margin-bottom: 0.5em;
}

.list-marked, .normalize ul, .normalize ol {
     list-style-position: outside;
     padding-left: 1em;
}

ul.list-marked {
     list-style: disc;
}

ol.list-marked {
     list-style: decimal;
}

.dl dt, .normalize .dl dt, .normalize dl dt {
     font-weight: bold;
     margin-bottom: 0.5em;
}

.dl dt p, .normalize .dl dt p, .normalize dl dt p {
     font-weight: bold;
}

.dl dd+dt, .normalize .dl dd+dt, .normalize dl dd+dt {
     margin-top: 2em;
}

.normalize h1, .normalize .title {
     margin-bottom: 0.5em;
}

.normalize h2, .normalize .heading {
     margin-bottom: 0.5em;
}

.normalize h3, .normalize h4, .normalize h5, .normalize h6, .normalize .subheading {
     margin-bottom: 0.5em;
}

.normalize p, .normalize .body {
     margin-bottom: 1em;
}

.normalize p+h1, .normalize p+.title, .normalize p+h2, .normalize p+.heading, .normalize p+h3, .normalize p+h4, .normalize p+h5, .normalize p+h6, .normalize p+.subheading, .normalize .body+h1, .normalize .body+.title, .normalize .body+h2, .normalize .body+.heading, .normalize .body+h3, .normalize .body+h4, .normalize .body+h5, .normalize .body+h6, .normalize .body+.subheading, .normalize ul+h1, .normalize ul+.title, .normalize ul+h2, .normalize ul+.heading, .normalize ul+h3, .normalize ul+h4, .normalize ul+h5, .normalize ul+h6, .normalize ul+.subheading, .normalize ol+h1, .normalize ol+.title, .normalize ol+h2, .normalize ol+.heading, .normalize ol+h3, .normalize ol+h4, .normalize ol+h5, .normalize ol+h6, .normalize ol+.subheading, .normalize .list+h1, .normalize .list+.title, .normalize .list+h2, .normalize .list+.heading, .normalize .list+h3, .normalize .list+h4, .normalize .list+h5, .normalize .list+h6, .normalize .list+.subheading, .normalize pre+h1, .normalize pre+.title, .normalize pre+h2, .normalize pre+.heading, .normalize pre+h3, .normalize pre+h4, .normalize pre+h5, .normalize pre+h6, .normalize pre+.subheading, .normalize figure+h1, .normalize figure+.title, .normalize figure+h2, .normalize figure+.heading, .normalize figure+h3, .normalize figure+h4, .normalize figure+h5, .normalize figure+h6, .normalize figure+.subheading {
     margin-top: 2em;
}

.normalize p+.dl, .normalize p+dl, .normalize p+ul, .normalize p+ol, .normalize p+p, .normalize p+pre, .normalize .body+.dl, .normalize .body+dl, .normalize .body+ul, .normalize .body+ol, .normalize .body+p, .normalize .body+pre, .normalize ul+.dl, .normalize ul+dl, .normalize ul+ul, .normalize ul+ol, .normalize ul+p, .normalize ul+pre, .normalize ol+.dl, .normalize ol+dl, .normalize ol+ul, .normalize ol+ol, .normalize ol+p, .normalize ol+pre, .normalize .list+.dl, .normalize .list+dl, .normalize .list+ul, .normalize .list+ol, .normalize .list+p, .normalize .list+pre, .normalize pre+.dl, .normalize pre+dl, .normalize pre+ul, .normalize pre+ol, .normalize pre+p, .normalize pre+pre, .normalize figure+.dl, .normalize figure+dl, .normalize figure+ul, .normalize figure+ol, .normalize figure+p, .normalize figure+pre {
     margin-top: 1em;
}

.normalize ul+p, .normalize ol+p {
     margin-top: 1em;
}

.normalize ul {
     list-style: disc;
}

.normalize ol {
     list-style: decimal;
}

.normalize small, .normalize .small {
     margin-bottom: 1em;
}

.msg, .msg-success, .msg-info, .msg-error {
     background: #f9f9f9;
     color: #3a3a3a;
     padding: 18px;
     border-color: #dcdcdc;
     border-style: solid;
     border-width: 1px;
     border-radius: 4px;
}

.msg *, .msg-success *, .msg-info *, .msg-error * {
     margin: 0;
}

.msg h1:not([class]), .msg-success h1:not([class]), .msg-info h1:not([class]), .msg-error h1:not([class]), .msg h2:not([class]), .msg-success h2:not([class]), .msg-info h2:not([class]), .msg-error h2:not([class]), .msg h3:not([class]), .msg-success h3:not([class]), .msg-info h3:not([class]), .msg-error h3:not([class]) {
     font-size: 18px;
     line-height: 1.5;
}

.msg p, .msg-success p, .msg-info p, .msg-error p {
     margin: 0.25em 0 0 0;
}

.msg p+p, .msg-success p+p, .msg-info p+p, .msg-error p+p {
     margin: 1em 0 0 0;
}

.msg p a, .msg-success p a, .msg-info p a, .msg-error p a {
     color: inherit;
     text-decoration: none;
     box-shadow: 0 1px 0 0#6dc5dc;
}

.msg p a:hover, .msg-success p a:hover, .msg-info p a:hover, .msg-error p a:hover {
     box-shadow: 0 2px 0 0#6dc5dc;
}

.msg-success {
     background: #d0ebe5;
     border-color: #72c1b0;
     color: #4d8277;
}

.msg-success p a {
     box-shadow: 0 1px 0 0#72c1b0;
}

.msg-success p a:hover {
     box-shadow: 0 2px 0 0#72c1b0;
}

.msg-info {
     background: #fff4d5;
     border-color: #fed156;
     color: #aa8d3b;
}

.msg-info p a {
     box-shadow: 0 1px 0 0#fed156;
}

.msg-info p a:hover {
     box-shadow: 0 2px 0 0#fed156;
}

.msg-error {
     background: #f7c9c0;
     border-color: #e85c41;
     color: #9b3f2e;
}

.msg-error p a {
     box-shadow: 0 1px 0 0#e85c41;
}

.msg-error p a:hover {
     box-shadow: 0 2px 0 0#e85c41;
}

.form-input, .form-area {
     background: #fff;
     width: 100%;
     -moz-appearance: none;
     -webkit-appearance: none;
     border-radius: 4px;
     box-sizing: border-box;
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     font-size: 16px;
     line-height: 1.6875;
     outline: 0;
     height: 54px;
     padding: 0 18px;
     transition: border-color 0.2s linear;
     border-width: 1px;
     border-style: solid;
     border-color: #dcdcdc;
}

.field-error.form-input, .field-error.form-area {
     border-color: #e85c41;
}

.field-error.form-input:focus, .field-error.form-area:focus {
     border-color: #373737;
}

.field-error.form-input:hover, .field-error.form-area:hover {
     border-color: #8a8a8a;
}

.form-input:hover, .form-area:hover {
     border-color: #8a8a8a;
}

.form-input:focus, .form-area:focus {
     border-color: #373737;
}

.form-area {
     padding: 12px 18px;
     line-height: 1.6875;
     min-height: 162px;
}

.form-checkbox {
     display: inline-block;
     margin: 0 0.5em 0 0;
     font-size: 26px;
     vertical-align: middle;
}

.form-radio {
     display: inline-block;
     margin: 0 0.5em 0 0;
     font-size: 26px;
     vertical-align: middle;
}

.form-group {
     padding-bottom: 18px;
}

.form-group+.form-group {
     padding-top: 12px;
}

.form-label, .form-label-inline {
     font-size: 18px;
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

input[type="radio"] ~ [for].form-label, input[type="radio"] ~ [for].form-label-inline, input[type="checkbox"] ~ [for].form-label, input[type="checkbox"] ~ [for].form-label-inline {
     cursor: pointer;
}

.form-label {
     display: block;
     margin-bottom: 6px;
}

.form-label-inline {
     display: inline-block;
     vertical-align: middle;
}

.form-select, .select, .select-small, .form-select-small, .select-mini, .form-select-mini {
     display: inline-block;
     position: relative;
     color: #fff;
     border-radius: 4px;
     min-width: 50%;
     overflow: hidden;
     background-color: #b7b7b7;
}

.ghost.form-select, .ghost.select, .ghost.select-small, .ghost.form-select-small, .ghost.select-mini, .ghost.form-select-mini {
     background: transparent;
     color: #8a8a8a;
     box-shadow: inset 0 0 0 1px#b7b7b7;
}

.ghost.form-select:after, .ghost.select:after, .ghost.select-small:after, .ghost.form-select-small:after, .ghost.select-mini:after, .ghost.form-select-mini:after {
     border-top-color: #b7b7b7;
}

.ghost.form-select select, .ghost.select select, .ghost.select-small select, .ghost.form-select-small select, .ghost.select-mini select, .ghost.form-select-mini select {
     border: 1px solid#b7b7b7;
     background-color: transparent;
     color: #8a8a8a;
}

.ghost.form-select:hover, .ghost.select:hover, .ghost.select-small:hover, .ghost.form-select-small:hover, .ghost.select-mini:hover, .ghost.form-select-mini:hover, .ghost.form-select:focus, .ghost.select:focus, .ghost.select-small:focus, .ghost.form-select-small:focus, .ghost.select-mini:focus, .ghost.form-select-mini:focus, .ghost.form-select:active, .ghost.select:active, .ghost.select-small:active, .ghost.form-select-small:active, .ghost.select-mini:active, .ghost.form-select-mini:active, .ghost.form-select select:hover, .ghost.select select:hover, .ghost.select-small select:hover, .ghost.form-select-small select:hover, .ghost.select-mini select:hover, .ghost.form-select-mini select:hover, .ghost.form-select select:focus, .ghost.select select:focus, .ghost.select-small select:focus, .ghost.form-select-small select:focus, .ghost.select-mini select:focus, .ghost.form-select-mini select:focus, .ghost.form-select select:active, .ghost.select select:active, .ghost.select-small select:active, .ghost.form-select-small select:active, .ghost.select-mini select:active, .ghost.form-select-mini select:active {
     background-color: transparent;
     border-color: #5d5c5d;
     color: #373737;
}

.ghost.form-select:hover:after, .ghost.select:hover:after, .ghost.select-small:hover:after, .ghost.form-select-small:hover:after, .ghost.select-mini:hover:after, .ghost.form-select-mini:hover:after, .ghost.form-select:focus:after, .ghost.select:focus:after, .ghost.select-small:focus:after, .ghost.form-select-small:focus:after, .ghost.select-mini:focus:after, .ghost.form-select-mini:focus:after, .ghost.form-select:active:after, .ghost.select:active:after, .ghost.select-small:active:after, .ghost.form-select-small:active:after, .ghost.select-mini:active:after, .ghost.form-select-mini:active:after, .ghost.form-select select:hover:after, .ghost.select select:hover:after, .ghost.select-small select:hover:after, .ghost.form-select-small select:hover:after, .ghost.select-mini select:hover:after, .ghost.form-select-mini select:hover:after, .ghost.form-select select:focus:after, .ghost.select select:focus:after, .ghost.select-small select:focus:after, .ghost.form-select-small select:focus:after, .ghost.select-mini select:focus:after, .ghost.form-select-mini select:focus:after, .ghost.form-select select:active:after, .ghost.select select:active:after, .ghost.select-small select:active:after, .ghost.form-select-small select:active:after, .ghost.select-mini select:active:after, .ghost.form-select-mini select:active:after {
     border-top-color: #5d5c5d;
}

.form-select:after, .select:after, .select-small:after, .form-select-small:after, .select-mini:after, .form-select-mini:after {
     pointer-events: none;
     position: absolute;
     content: '';
     top: 43%;
     right: 18px;
     width: 0;
     height: 0;
     border-left: 6px solid transparent;
     border-right: 6px solid transparent;
     border-top: 6px solid#fff;
     z-index: 2;
}

.form-select select, .select select, .select-small select, .form-select-small select, .select-mini select, .form-select-mini select {
     padding: 0.5625em 1.5em;
     padding-right: 2.22222em;
     min-width: 100%;
     -moz-appearance: none;
     -webkit-appearance: none;
     -moz-appearance: treeline;
     border: 0;
     margin: 0;
     outline: 0;
     display: inline-block;
     background-color: #b7b7b7;
     -webkit-font-smoothing: antialiased;
     color: #fff;
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     font-size: 16px;
     line-height: 1.6875;
     letter-spacing: 0.04em;
     font-weight: bold;
     position: relative;
     cursor: pointer;
}

.form-select select:-ms-expand, .select select:-ms-expand, .select-small select:-ms-expand, .form-select-small select:-ms-expand, .select-mini select:-ms-expand, .form-select-mini select:-ms-expand {
     display: none;
}

.form-select select:-moz-focusring, .select select:-moz-focusring, .select-small select:-moz-focusring, .form-select-small select:-moz-focusring, .select-mini select:-moz-focusring, .form-select-mini select:-moz-focusring {
     color: transparent;
     text-shadow: 0 0 0#fff;
}

.form-select select:focus option, .select select:focus option, .select-small select:focus option, .form-select-small select:focus option, .select-mini select:focus option, .form-select-mini select:focus option, .form-select select:focus optgroup, .select select:focus optgroup, .select-small select:focus optgroup, .form-select-small select:focus optgroup, .select-mini select:focus optgroup, .form-select-mini select:focus optgroup, .form-select select:active option, .select select:active option, .select-small select:active option, .form-select-small select:active option, .select-mini select:active option, .form-select-mini select:active option, .form-select select:active optgroup, .select select:active optgroup, .select-small select:active optgroup, .form-select-small select:active optgroup, .select-mini select:active optgroup, .form-select-mini select:active optgroup {
     color: #3a3a3a;
     background-color: #fff;
}

.form-select select.field-error, .select select.field-error, .select-small select.field-error, .form-select-small select.field-error, .select-mini select.field-error, .form-select-mini select.field-error {
     background: #e85c41;
}

.form-select:hover, .select:hover, .select-small:hover, .form-select-small:hover, .select-mini:hover, .form-select-mini:hover, .form-select:focus, .select:focus, .select-small:focus, .form-select-small:focus, .select-mini:focus, .form-select-mini:focus, .form-select:active, .select:active, .select-small:active, .form-select-small:active, .select-mini:active, .form-select-mini:active, .form-select select:hover, .select select:hover, .select-small select:hover, .form-select-small select:hover, .select-mini select:hover, .form-select-mini select:hover, .form-select select:focus, .select select:focus, .select-small select:focus, .form-select-small select:focus, .select-mini select:focus, .form-select-mini select:focus, .form-select select:active, .select select:active, .select-small select:active, .form-select-small select:active, .select-mini select:active, .form-select-mini select:active {
     background-color: #5d5c5d;
}

@media screen\0 {
     .form-select:after, .select:after, .select-small:after, .form-select-small:after, .select-mini:after, .form-select-mini:after {
         display: none 
    }

    .form-select select, .select select, .select-small select, .form-select-small select, .select-mini select, .form-select-mini select {
         padding-right: 18px 
    }

    .form-select select:focus option, .select select:focus option, .select-small select:focus option, .form-select-small select:focus option, .select-mini select:focus option, .form-select-mini select:focus option, .form-select select:focus optgroup, .select select:focus optgroup, .select-small select:focus optgroup, .form-select-small select:focus optgroup, .select-mini select:focus optgroup, .form-select-mini select:focus optgroup, .form-select select:active option, .select select:active option, .select-small select:active option, .form-select-small select:active option, .select-mini select:active option, .form-select-mini select:active option, .form-select select:active optgroup, .select select:active optgroup, .select-small select:active optgroup, .form-select-small select:active optgroup, .select-mini select:active optgroup, .form-select-mini select:active optgroup {
         color: #3a3a3a;
         background-color: #fff 
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
     .form-select:after, .select:after, .select-small:after, .form-select-small:after, .select-mini:after, .form-select-mini:after {
         display: block 
    }

    .form-select select:active, .select select:active, .select-small select:active, .form-select-small select:active, .select-mini select:active, .form-select-mini select:active {
         background-color: #fff 
    }

    .form-select select:active option, .select select:active option, .select-small select:active option, .form-select-small select:active option, .select-mini select:active option, .form-select-mini select:active option, .form-select select:active optgroup, .select select:active optgroup, .select-small select:active optgroup, .form-select-small select:active optgroup, .select-mini select:active optgroup, .form-select-mini select:active optgroup {
         color: #3a3a3a;
         background-color: #fff 
    }
}

.select-small, .form-select-small, .select-mini, .form-select-mini {
     min-width: 0;
}

.select-small select, .form-select-small select, .select-mini select, .form-select-mini select {
     font-size: 12px;
     line-height: 1.75;
     padding: 0.75em 1.5em;
     padding-right: 2.85714em;
}

.select-mini select, .form-select-mini select {
     font-size: 12px;
     line-height: 1.75;
     padding: 0.25em 0.75em;
     padding-right: 2.85714em;
}

.form-btn {
     -moz-appearance: none;
     -webkit-appearance: none;
     outline: none;
}

.field-message ul {
     margin: 0;
     padding: 0;
     list-style: none;
}

.field-message li {
     font-size: 12px;
     line-height: 12px;
     font-weight: bold;
     color: #5d5c5d;
     padding-bottom: 6px;
}

.field-message li:first-child {
     padding-top: 12px;
}

.field-message li:last-child {
     padding-bottom: 12px;
}

.field-error+.field-message li, .field-message .parsley-errors-list li {
     color: #e85c41;
}

.form-btn, .btn, .btn-small, .ghost.more, .btn-mini {
     color: #fff;
     display: inline-block;
     box-sizing: border-box;
     position: relative;
     border: 0;
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     font-size: 16px;
     line-height: 1.6875;
     padding: 0.5625em 1.5em;
     font-weight: bold;
     text-align: center;
     letter-spacing: 0.02em;
     text-decoration: none;
     max-width: 100%;
     -webkit-font-smoothing: antialiased;
     border-radius: 4px;
     transition: all 0.2s ease;
     background: #b7b7b7;
}

.form-btn:hover, .btn:hover, .btn-small:hover, .ghost.more:hover, .btn-mini:hover {
     text-decoration: none;
     cursor: pointer;
     background: #5d5c5d;
}

.btn-small, .ghost.more {
     font-size: 12px;
     line-height: 1.75;
     padding: 0.75em 1.5em;
}

.btn-mini {
     font-size: 12px;
     line-height: 1.75;
     padding: 0.25em 0.75em;
}

.primary.form-btn, .primary.btn, .primary.btn-small, .primary.ghost.more, .primary.btn-mini {
     background: #5d5c5d;
}

.primary.form-btn:hover, .primary.btn:hover, .primary.btn-small:hover, .primary.ghost.more:hover, .primary.btn-mini:hover {
     background: #373737;
}

.pop.form-btn, .pop.btn, .pop.btn-small, .pop.ghost.more, .pop.btn-mini {
     background: #e85c41;
}

.pop.form-btn:hover, .pop.btn:hover, .pop.btn-small:hover, .pop.ghost.more:hover, .pop.btn-mini:hover {
     background: #db3a1b;
}

.ghost.form-btn, .ghost.btn, .ghost.btn-small, .ghost.more, .ghost.btn-mini {
     background: transparent;
     color: #8a8a8a;
     border: 1px solid#b7b7b7;
}

.ghost.form-btn:hover, .ghost.btn:hover, .ghost.btn-small:hover, .ghost.more:hover, .ghost.btn-mini:hover {
     background: transparent;
     color: #373737;
     border: 1px solid#5d5c5d;
}

.ghost.pop.form-btn, .ghost.pop.btn, .ghost.pop.btn-small, .ghost.pop.more, .ghost.pop.btn-mini {
     color: #e85c41;
     border-color: #ee836e;
}

.ghost.pop.form-btn:hover, .ghost.pop.btn:hover, .ghost.pop.btn-small:hover, .ghost.pop.more:hover, .ghost.pop.btn-mini:hover {
     color: #db3a1b;
     border-color: #e85c41;
}

.ghost.on_dark.form-btn, .ghost.on_dark.btn, .ghost.on_dark.btn-small, .ghost.on_dark.more, .ghost.on_dark.btn-mini {
     color: rgba(255,255,255,0.8);
     border: 1px solid rgba(255,255,255,0.8) 
}

.ghost.on_dark.form-btn:hover, .ghost.on_dark.btn:hover, .ghost.on_dark.btn-small:hover, .ghost.on_dark.more:hover, .ghost.on_dark.btn-mini:hover {
     color: white;
     border-color: white;
}

.more {
     color: #2c9ab7;
     padding-right: 2em;
}

.more:hover {
     color: #52bad5;
     cursor: pointer;
     text-decoration: none !important;
}

.more:hover:after {
     -webkit-transform: translateY(-0.08333em) translateX(0.25em) scale(1.1);
     transform: translateY(-0.08333em) translateX(0.25em) scale(1.1) 
}

.more:after {
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     content: '\2192';
     margin-left: 0.5em;
     position: absolute;
     -webkit-transform: translateY(-0.08333em);
     transform: translateY(-0.08333em);
     transition: all 0.2s ease, color 0s linear;
}

.ghost.more {
     padding: 0.5em 2.75em 0.5em 1.5em;
     background: transparent;
     color: #8a8a8a;
     border: 1px solid#b7b7b7;
}

.ghost.more:hover {
     background: transparent;
     color: #373737;
     border: 1px solid#5d5c5d;
}

.ghost.pop.more {
     color: #e85c41;
     border-color: #ee836e;
}

.ghost.pop.more:hover {
     color: #db3a1b;
     border-color: #e85c41;
}

.ghost.on_dark.more {
     color: rgba(255,255,255,0.8);
     border: 1px solid rgba(255,255,255,0.8) 
}

.ghost.on_dark.more:hover {
     color: white;
     border-color: white;
}

.table {
     font-size: 16px;
}

.table th {
     font-weight: bold;
}

.table th, .table td {
     padding: 18px;
}

.table tr {
     border-bottom: 1px solid#dcdcdc;
}

.table tr:first-child {
     border-top: 1px solid#dcdcdc;
}

.table td, .table th {
     border-right: 1px solid#dcdcdc;
}

.table td:first-child, .table th:first-child {
     border-left: 1px solid#dcdcdc;
}

.table .em {
     font-weight: bold;
     font-size: 150%;
}

@media only screen and (max-width: 840px) {
     .table {
         font-size: 12px;
    }

    .table td, .table th {
         padding: 12px 
    }
}

#site-footer {
     font-size: 12px;
     padding-top: 18px;
     padding-bottom: 18px;
}

#site-footer .footer-logo {
     text-align: left;
     text-indent: -9999em;
     overflow: hidden;
     display: inline-block;
     background-image: url("/2015/assets/images/logo-dark-6af72327.svg");
     background-repeat: no-repeat;
     background-position: top center;
     width: 100%;
     max-width: 150px;
     background-size: contain;
     height: 0;
     padding-top: 42px;
}

#site-footer .footer-logo:hover {
     box-shadow: 0 0 0 transparent;
}

.no-svg#site-footer .footer-logo {
     background-image: url("/2015/assets/images/logo-dark-b3ed20db.png") 
}

.no-backgroundsize#site-footer .footer-logo {
     background-image: url("/2015/assets/images/logo-dark-small-cdb57c54.png") 
}

#site-footer .colophon {
     text-align: center;
     padding-top: 18px;
     padding-bottom: 18px;
}

.span1of1 {
     width: 100%;
}

@media screen and (max-width: 520px) {
     .span1of2 {
         width: 100%;
    }
}

.col.top {
     vertical-align: top;
}

.col.middle {
     vertical-align: middle;
}

@font-face {
     font-family: "SixCaps";
     src: url("/2015/assets/fonts/sixcaps-webfont-fffdaa6e.eot");
     src: url("/2015/assets/fonts/sixcaps-webfont.eot?#iefix") format("embedded-opentype"), url("/2015/assets/fonts/sixcaps-webfont-3eaa4f0d.woff") format("woff"), url("/2015/assets/fonts/sixcaps-webfont-33e5b751.ttf") format("truetype"), url("/2015/assets/fonts/sixcaps-webfont.svg#sixcaps") format("svg");
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: "Work Sans";
     src: url("/2015/assets/fonts/worksans-regular-webfont-df73b687.eot");
     src: url("/2015/assets/fonts/worksans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/2015/assets/fonts/worksans-regular-webfont-2bca5446.woff") format("woff"), url("/2015/assets/fonts/worksans-regular-webfont-0e7a8c89.ttf") format("truetype"), url("/2015/assets/fonts/worksans-regular-webfont.svg#worksans-regular") format("svg");
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: "Work Sans";
     src: url("/2015/assets/fonts/worksans-bold-webfont-c8528cbc.eot");
     src: url("/2015/assets/fonts/worksans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/2015/assets/fonts/worksans-bold-webfont-b6f33d49.woff") format("woff"), url("/2015/assets/fonts/worksans-bold-webfont-312b3645.ttf") format("truetype"), url("/2015/assets/fonts/worksans-bold-webfont.svg#worksans-bold") format("svg");
     font-weight: 700;
     font-style: normal;
}

#intro, #outro {
     position: relative;
     width: 100%;
     height: calc(100vh - 60px) 
}

#intro .title, #outro .title {
     color: #fff;
     font-family: "Work Sans", "Helvetica", sans-serif;
     font-weight: 400;
     height: 1.2em;
     position: absolute;
     margin: auto;
     top: 0;
     bottom: 0;
     -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 520px) {
     #intro .title, #outro .title {
         font-size: 34px;
    }
}

#intro .knockout, #outro .knockout {
     transition: background-color 0.25s linear;
}

#intro:after, #outro:after {
     height: 60px;
     font-family: "Work Sans", "Helvetica", sans-serif;
     font-weight: 400;
     font-size: 14px;
     line-height: 60px;
     vertical-align: middle;
     color: #001c40;
     width: 100%;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 1px;
     opacity: 1;
     transition: opacity 0.5s ease;
}

@media screen and (min-width: 520px) {
     #intro:after, #outro:after {
         font-size: 18px;
    }
}

#intro .section, #outro .section, #intro .content, #outro .content {
     position: relative;
     height: 100%;
}

#intro .section, #outro .section {
     overflow: hidden;
}

#intro .knockout, #outro .knockout {
     position: relative;
}

#intro .knockout:before, #outro .knockout:before, #intro .knockout:after, #outro .knockout:after {
     content: '';
     display: block;
     position: absolute;
     background-color: #001c40;
     width: 50vw;
     height: 100%;
     top: 0;
}

#intro .knockout:before, #outro .knockout:before {
     right: 99%;
}

#intro .knockout:after, #outro .knockout:after {
     left: 99%;
}

.scrolling#intro:after, .scrolling#outro:after {
     opacity: 0;
}

@media screen and (min-width: 840px) and (max-height: 800px) and (orientation: landscape) {
     #intro .knockout, #outro .knockout {
         width: 70%;
    }
}

@media screen and (min-width: 840px) and (max-height: 600px) and (orientation: landscape) {
     #intro, #outro {
         min-height: 430px;
    }

    #intro .knockout, #outro .knockout {
         width: 50%;
    }
}

@media screen and (max-width: 615px) and (max-height: 500px) {
     #intro, #outro {
         height:calc(100vh) 
    }

    #intro .knockout, #outro .knockout {
         width: 85%;
    }

    #intro .title, #outro .title {
         font-size: 30px 
    }
}

*,*:before,*:after {
     box-sizing: border-box;
}

body {
     font-family: "Work Sans", "Helvetica", sans-serif;
     font-weight: 400;
     overflow: auto;
}

.hide {
     display: none;
}

#content {
     position: relative;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: linear-gradient(to bottom, #ff4b00, #ff4d74, #c56bee, #00b5ff, #00ac00, #ffba00, #ff8239) 
}

#numbers {
     position: relative;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transform: translateZ(0);
     transform: translateZ(0) 
}

#bg-number {
     position: fixed;
     color: #fff;
     font-family: "SixCaps", "Helvetica", sans-serif;
     width: 100%;
     line-height: 100vh;
     text-align: center;
     font-size: 120px;
     font-weight: 400;
     letter-spacing: -0.0125em;
     text-transform: uppercase;
     display: block;
     transition: opacity 0.15s linear;
     opacity: 0;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transform: translateZ(0);
     transform: translateZ(0) 
}

.scrolling#bg-number {
     opacity: 1;
}

@media screen and (min-width: 520px) {
     #bg-number {
         font-size: 240px;
    }
}

#intro .title {
     margin-left: 31%;
     top: 33%;
}

#intro .knockout {
     background-image: url("https://static.mailchimp.com/report-2015/mobile/intro.svg") 
}

#intro:before {
     content: '';
     display: block;
     background-color: #001c40;
     position: absolute;
     width: 100%;
     height: 100vh;
     left: 0;
     top: 0;
     opacity: 1;
     transition: opacity 0.25s linear, visibility 0s linear;
}

#intro.loaded:before {
     opacity: 0;
}

#intro:after {
     position: absolute;
     left: 0;
     top: 100%;
     content: 'Keep Those Fingers Scrolling' 
}

.touch#intro {
     height: calc(100vh - (60px + 64px)) 
}

@media screen and (max-width: 840px) and (orientation: landscape) and (max-height: 600px) {
     .touch#intro {
         height:calc(100vh) 
    }

    .touch#intro .knockout {
         background-image: url("https://static.mailchimp.com/report-2015/desktop/intro.svg") 
    }
}

@media screen and (min-width: 520px) {
     #intro .title {
         margin-left:10.25%;
         top: -3.6%;
    }

    #intro .knockout {
         background-image: url("https://static.mailchimp.com/report-2015/desktop/intro.svg") 
    }
}

#outro .title {
     margin-left: 31%;
     top: 23%;
}

#outro .knockout {
     background-image: url("https://static.mailchimp.com/report-2015/desktop/outro.svg") 
}

@media screen and (max-width: 615px) and (max-height: 600px) {
     #outro .knockout {
         width: 70%;
    }
}

#outro:after {
     position: absolute;
     left: 0;
     top: -60px;
     content: 'We Did it, Fam' 
}

.scrolled#outro:after {
     opacity: 1;
}

@media screen and (min-width: 520px) {
     #outro .title {
         margin-left:9%;
         top: -4%;
    }
}

.knockout {
     height: 100%;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
}

#images {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
     #images {
         -webkit-transform:translateZ(0);
         transform: translateZ(0) 
    }
}

#images .image {
     position: absolute;
     width: 100%;
     min-height: 100vh;
     left: 0;
     clip: rect(0, auto, auto, 0);
     transition: opacity 0.15s linear;
     opacity: 0;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
}

#images .image.loaded {
     opacity: 1;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
     #images .image {
         -webkit-transform:translateZ(0);
         transform: translateZ(0) 
    }
}

#images .image-container {
     position: fixed;
     width: 100vw;
     height: 100vh;
     left: 0;
     top: 0;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transform: translateZ(0);
     transform: translateZ(0) 
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
     #images .image-container {
         position:absolute;
         background-attachment: fixed;
         width: 100%;
         height: 100%;
    }
}

.point {
     position: relative;
     padding: 54px 0;
}

.point:last-of-type {
     padding-bottom: 216px;
}

.point h1, .point .number {
     font-size: 26px;
     line-height: 1.4em;
     color: #fff;
     text-transform: uppercase;
     font-family: "Work Sans", "Helvetica", sans-serif;
     font-weight: 700;
     -webkit-font-smoothing: antialiased;
}

.point h1 a, .point .number a {
     color: #fff;
     text-decoration: underline;
     transition: color 0.1s linear;
}

.point h1 a:hover, .point .number a:hover {
     color: #e6e6e6;
}

@media screen and (min-width: 1024px) {
     .point h1, .point .number {
         font-size:36px;
         line-height: 1.25em 
    }
}

.point .number-container {
     text-align: right;
}

@media screen and (max-width: 520px) {
     .point .number-container {
         text-align:left 
    }
}

.point .subtext {
     margin-top: 18px;
}

.point p {
     font-size: 16px;
     font-weight: normal;
     color: #fff;
     font-size: 21px;
     line-height: 1.523809524;
     transition: color 0.15s linear;
}

.point p a {
     text-decoration: underline;
     color: #fff;
     transition: color 0.1s linear;
}

.point p a:hover {
     color: #e6e6e6;
}

.image-0 .point p, .image-1 .point p {
     color: #ff4b00;
}

.image-0 .point p a, .image-1 .point p a {
     color: #ff4b00;
}

.image-0 .point p a:hover, .image-1 .point p a:hover {
     color: #cc3c00;
}

.image-2 .point p, .image-3 .point p, .image-4 .point p {
     color: #ff4d74;
}

.image-2 .point p a, .image-3 .point p a, .image-4 .point p a {
     color: #ff4d74;
}

.image-2 .point p a:hover, .image-3 .point p a:hover, .image-4 .point p a:hover {
     color: #ff1a4c;
}

.image-5 .point p, .image-6 .point p {
     color: #c56bee;
}

.image-5 .point p a, .image-6 .point p a {
     color: #c56bee;
}

.image-5 .point p a:hover, .image-6 .point p a:hover {
     color: #b33de9;
}

.image-7 .point p, .image-8 .point p, .image-9 .point p {
     color: #00b5ff;
}

.image-7 .point p a, .image-8 .point p a, .image-9 .point p a {
     color: #00b5ff;
}

.image-7 .point p a:hover, .image-8 .point p a:hover, .image-9 .point p a:hover {
     color: #0091cc;
}

.image-10 .point p, .image-11 .point p, .image-12 .point p, .image-13 .point p {
     color: #00ac00;
}

.image-10 .point p a, .image-11 .point p a, .image-12 .point p a, .image-13 .point p a {
     color: #00ac00;
}

.image-10 .point p a:hover, .image-11 .point p a:hover, .image-12 .point p a:hover, .image-13 .point p a:hover {
     color: #007900;
}

.image-14 .point p, .image-15 .point p {
     color: #ffba00;
}

.image-14 .point p a, .image-15 .point p a {
     color: #ffba00;
}

.image-14 .point p a:hover, .image-15 .point p a:hover {
     color: #cc9500;
}

.image-16 .point p, .image-17 .point p, .image-18 .point p {
     color: #ff8239;
}

.image-16 .point p a, .image-17 .point p a, .image-18 .point p a {
     color: #ff8239;
}

.image-16 .point p a:hover, .image-17 .point p a:hover, .image-18 .point p a:hover {
     color: #ff6206;
}

@media screen and (min-width: 520px) {
     .point p {
         font-size: 18px;
    }
}

.point h1, .point p, .point .number {
     padding: 6px 0;
     display: inline;
     background-color: #001c40;
     box-shadow: 11px 0 0#001c40, -11px 0 0#001c40;
     -webkit-box-decoration-break: clone;
     box-decoration-break: clone;
}

.point .text-container {
     max-width: 480px;
}

#footer {
     color: #ff8239;
     text-align: center;
     width: 100%;
     background-color: #001c40;
     position: absolute;
     width: 100%;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transform: translateZ(0);
     transform: translateZ(0) 
}

#footer .logo {
     width: 180px;
}

#footer .colophon {
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     font-weight: normal;
     font-size: 10px;
     margin-top: 12px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (min-width: 0\0) and (min-resolution: 0.001dpcm) {
     .knockout {
         background-size:auto 4000px 
    }
}

@media screen and (-ms-high-contrast: active) and (max-height: 800px), screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) and (max-height: 800px) {
     .knockout .knockout {
         background-size:706px 2801px 
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (min-width: 0\0) and (min-resolution: 0.001dpcm) {
     #images {
         -webkit-transform:translateZ(0);
         transform: translateZ(0) 
    }

    .image {
         -webkit-transform: translateZ(0);
         transform: translateZ(0) 
    }

    .image-container {
         position: absolute !important;
         background-attachment: fixed;
         width: 100% !important;
         height: 100% !important 
    }
}

@supports (-ms-accelerator: true) {
     .image {
         clip: none !important;
         overflow: hidden;
         -webkit-transform: none !important;
         transform: none !important 
    }

    .image-container {
         position: absolute !important;
         background-attachment: fixed;
         width: 100% !important;
         height: 100% !important;
         -webkit-transform: none !important;
         transform: none !important 
    }
}