@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');

html {
	color: #ffffff;
  	font-family: "Karla", "Helvetica", "Arial", sans-serif;
  	font-size: 10px;
}

html, body {
	height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Karla", "Helvetica", "Arial", sans-serif;
	font-weight: 700;
}

#content {
	 position: relative;
	 width:  100%;
}

section {
	 display: block;
	 clear: both;
	 vertical-align: top;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.center {
	height: 100%;
	text-align: center;
}

.content-block {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/***
**** INTRODUCTION && TITLE BLOCK
***/
#intro {
	 height: calc(100vh - 60px);
	 position: relative;
	 width: 100%;
}

#intro:after {
	 height: 60px;
	 font-family: "Work Sans", "Helvetica", sans-serif;
	 font-weight: 400;
	 font-size: 14px;
	 line-height: 60px;
	 vertical-align: middle;
	 color: #61AD00;
	 width: 100%;
	 text-align: center;
	 text-transform: uppercase;
	 letter-spacing: 1px;
	 opacity: 1;
	 transition: opacity 0.5s ease;
}

#intro:before {
	 content: '';
	 display: block;
	 background-color: rgba(97, 173, 0);
	 background-image: url( "../images/2017_Total_Solar_Eclipse_(NHQ201708210100).jpg" );
	 background-position: center;
	 background-repeat:  no-repeat;
	 background-size: cover;
	 position: absolute;
	 width: 100vw;
	 height: 100vh;
	 left: 0;
	 top: 0;
	 opacity: 1;
	 transition: opacity 0.25s linear, visibility 0s linear;
}

#intro.loaded:before {
	 opacity: 0;
}

#intro:after {
	background-color: rgba(57, 105, 0, 0.75);
	color: #fff;
	content: 'Scroll down';
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 10000;
}

.touch#intro {
	 height: calc(100vh - (60px + 64px));
}

/* MAIN TITLE */
.title {
	 font-size: 6vw;
	 font-weight: 400;
	 line-height: 1.1;
	 margin: auto 10% auto 29%;
	 max-block-size: fit-content;
	 position: fixed;
	 text-align: left;
	 /* top: 9%; */
	 bottom: 25%;
	 -webkit-font-smoothing: antialiased;
	 /* transitions */
	 -webkit-transition: all .02s ease-in-out;
	 -moz-transition: all .02s ease-in-out;
	 -ms-transition: all .02s ease-in-out;
	 -o-transition: all .02s ease-in-out;
	 transition: all .02s ease-in-out;
}

/* INTRO BACKGROUND */
#intro .knockout {
	 position: relative;
}

#intro .knockout {
	 background-image: url("../images/site-intro.svg");
}

.knockout {
	background-attachment: fixed;
	background-position: left 500%; /* fix for iphone 5 */
	background-repeat: no-repeat;
	background-size: 50% auto; /* fix for iphone 5 – need to fix other queries */
	height: 100%;
	width: 100%;
}

#intro .knockout:before, #intro .knockout:after {
	 content: '';
	 display: block;
	 position: absolute;
	 background-color: #61AD00;
	 width: 50vw;
	 height: 100%;
	 top: 0;
}

#intro .knockout:before, #outro .knockout:before {
	 right: 99%;
}

#intro .knockout:after, #outro .knockout:after {
	 left: 99%;
}

/***
**** SCROLL
****/
.scrolling#intro:after, .scrolling#outro:after {
	 opacity: 0;
}

.scrolled#outro:after {
	 opacity: 1;
}

#social-brands {
	height: 100px;
	width: 100px;
	position: relative;
	top: 50px;
	left: 50px;
}

/***
**** SECTIONS BY BRAND
****/
.section {
	margin: 0;
	min-height: 2rem;
	position: relative;
}

#stats-fb.section { background-color: #3B5998; }
#stats-tw.section { background-color: #1DA1F2; }
#stats-ig.section { background-color: #E4405F; }
#stats-li.section { background-color: #0077B5; }

.logo-container {
	height: 0;
}

.brand  {
	fill: #ffffff;
	height: 100px;
	left: 50px;
	visibility: hidden;
	width: 100px;
	z-index: 1000;
}

#stats-fb .brand { /*add bg for FB "f"*/
	background-color: #000000;
	border-radius: 6px;
}

#stats-ig .brand { /*temporary fix for ig logo*/
    margin-left: 50px !important;
    margin-top: 20% !important;
}

.platform-link {
    bottom: 23%;
    display: block;
    font-size: 2vw;
    margin: 0 5rem 0;
    position: fixed;
    visibility: hidden;
    -webkit-font-smoothing: antialiased;
    z-index: 500;
}

.show {
    /* animation */
    animation: slideUp 0.5s ease alternate forwards;
    -webkit-animation: slideUp 0.5s ease alternate forwards;
    -moz-animation: slideUp 0.5s ease alternate forwards;
    -o-animation: slideUp 0.5s ease alternate forwards;
    -ms-animation: slideUp 0.5s ease alternate forwards;
}

.brand.show,
.platform-link.show {
    visibility: visible;
}

.handle, .handle:visited {
    color: white;
    text-decoration: none;
}

.handle:hover {
    color: lightgray;
    text-decoration: underline;
}

/* COUNTERS */
.counter {
	background-color: green;
	display: inline-block;
	font-size: 8vmax;
	margin: 0 auto !important;
	min-height: 2rem;
	opacity: 0;
	padding: 2rem 3rem;
}

.impressions-fadein {
    display: inline-block;
    animation: fadeIn ease 0.5s;
    animation-fill-mode: forwards; /*when the spec is finished*/
    -webkit-animation: fadeIn ease 0.5s;
    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: fadeIn ease 0.5s;
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation: fadeIn ease 0.5s;
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation: fadeIn ease 0.5s;
    -ms-animation-fill-mode: forwards; /*IE 10+*/
}

.impressions-fadeout {
	animation: fadeOut ease 0.75s;
	animation-fill-mode: forwards; /*when the spec is finished*/
	-webkit-animation: fadeOut ease 0.75s;
	-webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
	-moz-animation: fadeOut ease 0.75s;
	-moz-animation-fill-mode: forwards; /*FF 5+*/
	-o-animation: fadeOut ease 0.75s;
	-o-animation-fill-mode: forwards; /*Not implemented yet*/
	-ms-animation: fadeOut ease 0.75s;
	-ms-animation-fill-mode: forwards; /*IE 10+*/
}

/* PERCENTAGE PANELS */
svg {
	display: block;
	height: 100%;
	margin-right: 2rem;
	min-height: 40rem;
	padding-left: 20vw;
	position: relative;
	top: 25%;
	width: 100%;
}

/* follower info */
.info {
    fill: white;
    line-height: 2;
    opacity: 0;
    padding-left: 2rem;
    text-anchor: middle;
}

.number {
    font-size: 4rem;
    font-weight: bold;
}

.context {
    font-size: 2rem;
}

/* Followers circles */
.past {
	fill: #396900;
	y: 0;
}

.latest {
	fill: #61AD00;
	y: 0;
}

.years {
	fill: white;
	font-size: 2em;
	font-weight: bold;
}

/* follower percent change */
.percent {
	font-size: 10vmax;
	margin: 0 1em 0 0;
	text-align: right;
	visibility: hidden;
}

.percentPrefix.up {
    font-size: 60%;
    letter-spacing: -0.5rem;
    color: green;
}

.percentPrefix.down {
    font-size: 60%;
    letter-spacing: -0.5rem;
    color: red;
}

.qualifier {
	font-size: 2rem;
	line-height: 1.1;
	margin: 0;
	position: absolute;
	right: 8rem;
	text-align: right;
	width: 20%;
}

.percent.showPercent {
	visibility: visible;
}

.showPercent {
  animation: slideLeft ease 1s forwards;
  -webkit-animation: slideLeft ease 1s forwards;
  -moz-animation: slideLeft ease 1s forwards;
  -o-animation: slideLeft ease 1s forwards;
  -ms-animation: slideLeft ease 1s forwards;
}

/* Outro */
#outro {
	background-color: #61AD00;
	height: 100vh;
	padding: 15rem;
	position: relative;
	width: 100%;
	z-index: 999999999;
}

#outro div {
	margin-top: 10vh;
}

#outro h1 {
	font-size: 4rem;
	margin: 0;
	line-height: 1;
}

div#impressions {
	animation: slideUp ease 1s 1s backwards;
	-webkit-animation: slideUp ease 1s 1s backwards;
	-moz-animation: slideUp ease 1s 1s backwards;
	-o-animation: slideUp ease 1s 1s backwards;
	-ms-animation: slideUp ease 1s 1s backwards;
}

div#followers {
	animation: slideUp ease 1s 2s backwards;
	-webkit-animation: slideUp ease 1s 2s backwards;
	-moz-animation: slideUp ease 1s 2s backwards;
	-o-animation: slideUp ease 1s 2s backwards;
	-ms-animation: slideUp ease 1s 2s backwards;
}

.account-type {
	background-color: white;
	color: green;
	font-size: 2rem;
	font-weight: 900;
	margin: 0 0 1.0rem;
	padding: 1.5rem;
	display: inline-block;
}

.total-number {
	font-size: 10vh;
	margin: 0;
	padding: 5rem 0;
}

.fine-print {
	font-size: 1.75rem;
	margin: -10rem 0 0;
}

/***
**** ANIMATION KEYFRAMES
****/
@-webkit-keyframes slideUp {
     0% {
         opacity: 0;
         -webkit-transform: translate3d( 0, 500px, 0 );
         transform: translate3d( 0, 500px, 0 );
    }
     100% {
         opacity: 1;
         -webkit-transform: translate3d( 0, 0, 0 );
         transform: translate3d( 0, 0, 0 );
    }
}
 @keyframes slideUp {
    0% {
         opacity: 0;
         -webkit-transform: translate3d( 0, 500px, 0 );
         transform: translate3d( 0, 500px, 0 );
    }
     100% {
         opacity: 1;
         -webkit-transform: translate3d( 0, 0, 0 );
         transform: translate3d( 0, 0, 0 );
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
	opacity: 0;
	transform: translate(103vw,0px);
  }
  60% {
	opacity: 1;
	transform: translate(-30px,0px);
  }
  100% {
	opacity: 1;
	transform: translate(0px,0px);
  }
}

@-moz-keyframes slideLeft {
  0% {
	opacity: 0;
	-moz-transform: translate(103vw,0px);
  }
  60% {
	opacity: 1;
	-moz-transform: translate(-30px,0px);
  }
  100% {
	opacity: 1;
	-moz-transform: translate(0px,0px);
  }
}

@-webkit-keyframes slideLeft {
  0% {
	opacity: 0;
	-webkit-transform: translate(103vw,0px);
  }
  60% {
	opacity: 1;
	-webkit-transform: translate(-30px,0px);
  }
  100% {
	opacity: 1;
	-webkit-transform: translate(0px,0px);
  }
}

@-o-keyframes slideLeft {
  0% {
	opacity: 0;
	-o-transform: translate(103vw,0px);
  }
  60% {
	opacity: 1;
	-o-transform: translate(-30px,0px);
  }
  100% {
	opacity: 1;
	-o-transform: translate(0px,0px);
  }
}

@-ms-keyframes slideLeft {
  0% {
	opacity: 0;
	-ms-transform: translate(103vw,0px);
  }
  60% {
	opacity: 1;
	-ms-transform: translate(-30px,0px);
  }
  100% {
	opacity: 1;
	-ms-transform: translate(0px,0px);
  }
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translate(0px,103vw);
	}
	100% {
		opacity: 1;
		transform: translate(0px,0px);
	}
}

@-moz-keyframes slideUp {
	0% {
		opacity: 0;
		transform: translate(0px,103vw);
	}
	100% {
		opacity: 1;
		transform: translate(0px,0px);
	}
}

@-webkit-keyframes slideUp {
	0% {
		opacity: 0;
		transform: translate(0px,103vw);
	}
	100% {
		opacity: 1;
		transform: translate(0px,0px);
	}
}

@-o-keyframes slideUp {
	0% {
		opacity: 0;
		transform: translate(0px,103vw);
	}
	100% {
		opacity: 1;
		transform: translate(0px,0px);
	}
}

@-ms-keyframes slideUp {
	0% {
		opacity: 0;
		transform: translate(0px,103vw);
	}
	100% {
		opacity: 1;
		transform: translate(0px,0px);
	}
}

/***
**** MEDIA QUERIES
****/

@media (min-width: 768px) {
	#intro .title {
		font-size: 7vw;
		margin-left: 29%;
	}
	#intro .knockout {
		background-position: center 55%;
		background-size: 100vw;
	}
}

@media (min-width: 1040px) {
	#intro .knockout {
		background-position: center 54%;
		background-size: 100vw;
	}

	#intro .title {
		font-size: 6vw;
		margin-top: 42%;
	}
}

@media (min-width: 1200px) {
	#intro .knockout {
		background-position: center 54%;
		background-size: 92vw;
	}

	#intro .title {
		font-size: 6vw;
		margin-left: 31%;
	}

	#intro:before {
		background-color: #61AD00;
		background-position: center center;
		background-size: 90vw;
	}

	#intro:after {
		background-color: rgba(0, 0, 0, .35);
	}
}

/*@media screen and (min-width: 1040px) and (max-width: 1200px) {
	#intro .knockout {
		background-position: center 45%;
	}
}

@media screen and (min-width: 1200px) {
	#intro .knockout {
		background-position: center -100vh;
	}
}*/
/*@media screen and (min-width: 520px) {
	 #intro:after, #outro:after {
		 font-size: 18px;
	}

	 #intro .title, #outro .title {
		 font-size: 34px;
	}

	#outro .title {
		 margin-left:9%;
		 top: -4%;
	}

	#intro .title {
		 margin-left:10.25%;
		 top: -3.6%;
	}

	#intro .knockout {
		 background-image: url("../images/site-intro.svg")
	}
}

@media screen and (max-width: 615px) and (max-height: 600px) {
	 #outro .knockout {
		 width: 70%;
	}
}

@media screen and (min-width: 840px) and (max-height: 800px) and (orientation: landscape) {
	 #intro .knockout, #outro .knockout {
		 width: 70%;
	}
}

@media screen and (min-width: 840px) and (max-height: 600px) and (orientation: landscape) {
	 #intro, #outro {
		 min-height: 430px;
	}
	 #intro .knockout, #outro .knockout {
		 width: 50%;
	}

	.touch#intro {
		 height: calc(100vh)
	}

	.touch#intro .knockout {
		 background-image: url("https://static.mailchimp.com/report-2015/desktop/intro.svg")
	}
}

@media screen and (max-width: 615px) and (max-height: 500px) {
	 #intro, #outro {
		 height: calc(100vh);
	}
	 #intro .knockout, #outro .knockout {
		 width: 85%;
	}
	 #intro .title, #outro .title {
		 font-size: 30px;
	}
}

@media screen and (max-width: 1120px) {
	 .content-block {
		 width: 100%;
	}
